{
  "jsc": {
    "experimental": {
      "plugins": [
        [
          "styled-components",
          {
            "displayName": false,
            "ssr": true
          }
        ]
      ]
    },
    "minify": {
      "mangle": true,
      "compress": true
    }
  },
  "minify": true
}
